/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #191c29;
    color: #333;
    text-align: center;
    background-size: 200px 500px; /* Width 100%, height scaled to maintain aspect ratio */

}

/* Header */
header {
    background: #00796b;
    padding: 20px;
    color: white;
}

/* Input and Button styles */
input {
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #2f5bc3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

p{
    margin:8px 0;
}

#weather-icon {
    width: 100px;
}

/* Footer */
/* footer {
    text-align: center;
    padding: 10px;
    background: #00796b;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
} */


/* CSS for footer */
footer {
    position: fixed;        /* Fixes the footer at the bottom */
    bottom: 0;              /* Position it 0px from the bottom of the viewport */
    width: 100%;            /* Make it full width */
    background-color: #00796b; /* Background color for visibility */
    color: white;           /* Text color */
    padding: 10px;          /* Some padding around the footer content */
    text-align: center;     /* Center the text */
}



/* Card Container */
.card-containers, .card-container {
    display: flex;
    gap: 20px;
    justify-content: center;  /* Horizontally center the cards within the container */
    align-items: center;      /* Vertically center the cards */
    margin-top: 50px;         /* Optional: Add some margin if needed */
}

/* Card Styles */
.card{
    width: 250px;  /* Smaller width */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards{
    width: 525px;   
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover, .cards:hover {
    transform: translateY(-10px); /* Hover effect */
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
    font-size: 20px;
    color: #333;
}

.card p {
    padding: 10px;
    font-size: 14px;
    color: #666;
}
